<nav class="navbar navbar-dark justify-content-evenly container-fluid bg-transparent">
  <div class="container justify-content-center">
    <a class="nav-link text-white hover-red" routerLinkActive="link-active" routerLink="/about">O nas</a>
    <a class="nav-link text-white hover-orange" routerLinkActive="link-active" routerLink="/references">Referencje</a>
    <img src="" alt="logo" routerLink="">
    <a class="nav-link text-white hover-yellow" routerLinkActive="link-active" routerLink="/projects">Projekty</a>
    <a class="nav-link text-white hover-blueDark" routerLinkActive="link-active" routerLink="/contact">Kontakt</a>
  </div>
</nav>
