.hover-red:hover{
  color:var(--red);
}
.hover-orange:hover{
  color:var(--orange);
}
.hover-yellow:hover{
  color:var(--yellow);
}
.hover-blueDark:hover{
  color:var(--blueDark);
}
.hover-blue:hover{
  color:var(--blue);
}
.link-hover{
  color:black;
  position: relative;
}
.link-active{
  color:red;
}
