.video{
  position: relative;
}
#mainVideo {
  width: 100%;
}
.banner-content{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

}
