<div class="video" >
  <video autoplay muted loop id="mainVideo"  >
    <source src="https://weblider.eu/wp-content/uploads/2019/10/weblider.mp4" type="video/mp4">
  </video>
  <div class="banner-content ">
    <div class="row w-100">
      <div class="col-md-9 col-lg-7 col-xxl-6 mx-auto" >
        <h3 class="display-1 text-white">Weblider.eu</h3>
        <p>fajnie jest</p>
      </div>
    </div>
  </div>
</div>

