.about-us{
  position: static;
  .row{
    margin: 3rem 0;
    align-content: center;
    align-items: center;
    justify-content: center;
    .col-lg-6{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }
}

.services{
  .col-sm-12{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem;
  }
}
