<section class="about-us container">
  <div class="row">
    <div class="col-lg-6">
      <h3>Chcesz zaistnieć w Internecie? Zacznijmy od strony</h3>
      <p>Wymagania były wysokie, ponieważ naszym celem była nie tylko przejrzysta prezentacja oferty oraz intuicyjna nawigacja,
        ale chcieliśmy uzyskać efekt WOW i pod tym względem Weblider, spełnił wszystkie nasze oczekiwania</p>
      <img class="img-fluid" src="https://weblider.eu/wp-content/uploads/2016/11/indos-logo.png"/>
      <p>Sylwia Kucypera-Włosińska Indos, Chorzów</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img class="img-fluid" src="https://weblider.eu/wp-content/uploads/2019/09/promowana-strona.jpg" alt="img-right"/>
    </div>
  </div>
</section>
<section class="container services">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-title">
          <img class="img-fluid" src="https://weblider.eu/wp-content/uploads/2019/07/kafelka-strony-internetowe.png" alt="unikalne"/>
          <p>Unikalne strony internetowe</p>
        </div>
        <div class="card-body">
          <p>Indywidualny projekt strony internetowej jest niczym garnitur szyty na miarę:
            dobrany do potrzeb firmy, idealnie dopasowany do promowanej oferty.
            Nie dorówna mu żadna strona na szablonie.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-title">
          <img class="img-fluid" src="https://weblider.eu/wp-content/uploads/2019/07/kafelka-strony-internetowe.png" alt="unikalne"/>
          <p>Unikalne strony internetowe</p>
        </div>
        <div class="card-body">
          <p>Indywidualny projekt strony internetowej jest niczym garnitur szyty na miarę:
            dobrany do potrzeb firmy, idealnie dopasowany do promowanej oferty.
            Nie dorówna mu żadna strona na szablonie.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-title">
          <img class="img-fluid" src="https://weblider.eu/wp-content/uploads/2019/07/kafelka-strony-internetowe.png" alt="unikalne"/>
          <p>Unikalne strony internetowe</p>
        </div>
        <div class="card-body">
          <p>Indywidualny projekt strony internetowej jest niczym garnitur szyty na miarę:
            dobrany do potrzeb firmy, idealnie dopasowany do promowanej oferty.
            Nie dorówna mu żadna strona na szablonie.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-title">
          <img class="img-fluid" src="https://weblider.eu/wp-content/uploads/2019/07/kafelka-strony-internetowe.png" alt="unikalne"/>
          <p>Unikalne strony internetowe</p>
        </div>
        <div class="card-body">
          <p>Indywidualny projekt strony internetowej jest niczym garnitur szyty na miarę:
            dobrany do potrzeb firmy, idealnie dopasowany do promowanej oferty.
            Nie dorówna mu żadna strona na szablonie.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card ">
        <div class="card-title">
          <img class="img-fluid" src="https://weblider.eu/wp-content/uploads/2019/07/kafelka-strony-internetowe.png" alt="unikalne"/>
          <p>Unikalne strony internetowe</p>
        </div>
        <div class="card-body">
          <p>Indywidualny projekt strony internetowej jest niczym garnitur szyty na miarę:
            dobrany do potrzeb firmy, idealnie dopasowany do promowanej oferty.
            Nie dorówna mu żadna strona na szablonie.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-title">
          <img class="img-fluid" src="https://weblider.eu/wp-content/uploads/2019/07/kafelka-strony-internetowe.png" alt="unikalne"/>
          <p>Unikalne strony internetowe</p>
        </div>
        <div class="card-body">
          <p>Indywidualny projekt strony internetowej jest niczym garnitur szyty na miarę:
            dobrany do potrzeb firmy, idealnie dopasowany do promowanej oferty.
            Nie dorówna mu żadna strona na szablonie.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-title">
          <img class="img-fluid" src="https://weblider.eu/wp-content/uploads/2019/07/kafelka-strony-internetowe.png" alt="unikalne"/>
          <p>Unikalne strony internetowe</p>
        </div>
        <div class="card-body">
          <p>Indywidualny projekt strony internetowej jest niczym garnitur szyty na miarę:
            dobrany do potrzeb firmy, idealnie dopasowany do promowanej oferty.
            Nie dorówna mu żadna strona na szablonie.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-title">
          <img class="img-fluid" src="https://weblider.eu/wp-content/uploads/2019/07/kafelka-strony-internetowe.png" alt="unikalne"/>
          <p>Unikalne strony internetowe</p>
        </div>
        <div class="card-body">
          <p>Indywidualny projekt strony internetowej jest niczym garnitur szyty na miarę:
            dobrany do potrzeb firmy, idealnie dopasowany do promowanej oferty.
            Nie dorówna mu żadna strona na szablonie.</p>
        </div>
      </div>
    </div>
  </div>

</section>
